<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <parameter name="browserName" value="chrome"></parameter>
    <parameter name="courseName" value="Selenium"></parameter>
    <parameter name="cityName" value="Nashik"></parameter>
    <listeners>
        <listener class-name="failtestcases.AutomaticallyRunTestScript"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" parallel="false" thread-count="2" name="/Users/santosh/IdeaProjects/MavenProject">
        <classes>
<!--            <class name="parameterization.ParameterizationExample"></class>-->
<!--            <class name="parameterization.DataProviderWithExcel"></class>-->
<!--            <class name="failtestcases.FailTestCaseExample"></class>-->
                <class name="failtestcases.FailTestCaseExample2"></class>
        </classes>
    </test>
</suite>